	ul.pagination li.details{
	   color:#10621e;
	
	}
    
    ul.pagination li a
	{
		border-radius:5px;	
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding:6px 9px 6px 9px;
	}

	ul.pagination li a
	{
        color: #FFFFFF;
		background:#2b823A;
		background:-moz-linear-gradient(top,#2b823A,#2b823A);
		background:-webkit-gradient(linear,0 0,0 100%,from(#2b823A),to(#10621e));	
	}	
	
	ul.pagination li a:hover,
	ul.pagination li a.current
	{
		color:#FFFFFF;
		background:#E7F2C7;
	}